/*
* Common
*********************/
body {
    margin: 0;
    font-family: "arial", sans-serif;
}
/*
*main
**********************/

.main{
    position: relative;
}
.main img.background
{
    width : 100%
}

.main .header {
    position: absolute;
    top: 0px;
    left: 7;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.main .header img{
    width: 40px;

}
.main .header ul{
    display:flex;
}

.main .header li{
    list-style: none;
    padding-left: 20px;
}
.main .header li a {
    color: rgb(231, 231, 231);
    font-style: italic;
}
 .main .text-losangeles {
     position: absolute;
     top: 56px;
     left: 30%;
      width: 40%;
      z-index: 1;

 }
 .main .mountain-left {
    position: absolute;
    left: 0px;
    bottom: 0%;
     width: 73%;
     z-index: 2;
     
}
.main .mountain-right {
    position: absolute;
    right: 0px;
    bottom:0%;
     width: 50%;
     z-index: 3;
     
}
.white-space {
    position: absolute;
    left: 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;

}

 .white-space ul {
    display: flex;
}

 .white-space li{
    list-style: none;
    padding-left: 20px;
}

 .white-space li a{
    color: rgb(48, 46, 46);
    font-style: italic;
    font-size: small;
}

.main-2{
    position: relative;

}

.black-space img.img1 {
    top: 12%;
    width: 15%;
    position: absolute;
    right: 61%;
}

.black-space img.img2 {
    top: 12%;
    width: 15%;
    position: absolute;
    right: 44%;

}
.black-space img.img3 {
    top: 12%;
    width: 15%;
    position: absolute;
    right: 27%;
}


.black-space img.img4 {
    top: 12%;
    position: absolute;
    width: 15%;
    right: 10%
}

.white-space {
    position: absolute;
    left: 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

 .white-space ul {
    display: flex;
}

 .white-space li{
    list-style: none;
    padding-left: 20px;
}

 .white-space li a{
    color: rgb(48, 46, 46);
    font-style: italic;
    font-size: small;
}

.main-2{
    position: relative;
}


.main-2 .history {
    position: absolute;
    top: 90px;
    left: 20%;
    margin-top: 0%;
}
.main-2 .history p {
    color:rgb(82, 81, 81);
    font-size: small;
}

@media only screen and (max-width:499px){

    .main-2 .history p {
        padding-left : 49px;
    }
    
}

.main-2 .black-space{
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 130px;
    opacity: 0.6;
}
#img{
    left: 10%;
}
.main-2 .black-space .img {
    position: absolute;
    bottom: 26px;
    left: 70%;
}

@media only screen and (max-width:499px){

    .main-2 .black-space{

        height: 182px
    }

    .main-2 .black-space .img {
        left: 90px;
    }
}
@media only screen and (max-width:400px){

}
@media only screen and (max-width:690px) {

  

    .main-2 .black-space .img {
        left:100px;
    }
    
}

.white-space-2{
    position: absolute;
    left:20%;
    padding: 18px;
    display: flex;

}
@media only screen and (max-width:500px) {
    .white-space-2{
        left: 8%;
    }

}

.white-space-2 p{
    font-size: small;
    color: rgb(82, 81, 81);
    padding-left: 17px;
}

.black-space-2 {
    position: relative;
    background-color: black;
    width: 100%;
    height: 25px;
    margin-top: 110px;
    opacity: 0.6;
}

.black-space-2 ul{
    display: flex;
}

.black-space-2 li{
    position: relative;
    list-style: none;
    left: 20%;
    padding-left: 20px;
    padding-top: 5px;
}

.black-space-2 li a {
    color: #afa8a8; 
}

.black-space-2 li a:hover{
    background-color: rgb(248, 232, 232);
    border:6px solid;
    color:rgb(82,81,81)
}

.main-3{
    position: absolute;
    
}

.main-3 .table{
    position: absolute;
    top: 20px;
    left: 20%;
    
}

.main-3 .table img {
    width:242px;
    height: 181px;
        border: 2px solid #555;
}

.main-3 .table .tab-cont{
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 26px;
    color: #3c3939;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-3 .table table{
    position: absolute;
    top: 72px;
    left: 6%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main-3 .table table tr{
    line-height: 1.7;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main-3 .table table tr td{
    padding-left: 15px;
}

footer .black-space-3{
    position: relative;
    width:100%;
    height: 40px;
    background-color: black;
    opacity:0.6;
    margin-top: 400px;
    
}

footer .black-space-3 .b3{
    display: flex;
    position: absolute;
    top: 6px;
    left: 20%;
    width: 73%;
    justify-content: space-around;

}

footer .black-space-3 .b3 p{
    color: #938c8c;
    font-size: 9px;
    margin: 0;
    padding-top: 8px;
}

@media only screen and (max-width:402px){

    footer .black-space-3 .b3 p{
        font-size: 8px;
    }
}